.container {
  padding: 2rem;
  direction: rtl;
}

.paper {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.alert {
  margin-bottom: 2rem;
}

.submitButton {
  width: 100px !important;
  height: 50px;
  margin: 0 auto !important;
  display: block !important;
  font-size: 20px; 
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .paper {
    padding: 1rem;
  }
} 